Package: tomxplayer
Version: %version%
Section: base
Priority: optional
Architecture: armhf
Depends: libgtk2.0-0 (>= 2.0), dbus (>=1.10)
Maintainer: Jonathan Jason Dennis <theonejohnnyd@gmail.com>
Description: tomxplayer
 tomxplayer is a gui video player for the Raspberry Pi and wrapper for omxplayer.

