Package: tomxplayer
Version: %version%
Installed-Size: %size%
Section: base
Priority: optional
Architecture: armhf
Depends: %deps%
Maintainer: Jonathan Jason Dennis <theonejohnnyd@gmail.com>
Description: Tactical OMXPlayer (tomxplayer)
 The Raspberry Pi Video Player

